@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Service CRM</h1>
    <p class="lead">Create Customers and Activies using the Service CRM</p>
    <p><a href="~/Customer/List" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create Calls</h2>
        <p>
            Scheduling a phone call is just one of the many things you can set in activities.
        </p>
        <p><a class="btn btn-default" href="~/Activity/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Set Appointments</h2>
        <p>Setting appointments is just one of the many things you can set in activites</p>
        <p><a class="btn btn-default" href="~/Activity/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Enter Notes</h2>
        <p>Enter notes about every activity you set.</p>
        <p><a class="btn btn-default" href="~/Activity/List">Learn more &raquo;</a></p>
    </div>
</div>